{% extends "mybase.html" %}
{% block title %}chat{% endblock %}

{% block content -%}
<div class="container-sm">
    <div class="row">
        <div class="col-sm-offset-2 col-sm5 scroll-area" id="msgfield">
            {% for msg in msgs %}
            <div class="card w-100 card-no-border">
                <div class="card-body">
                    <h5 class="card-title">{{ msg.name }}</h5>
                    <p class="card-text">{{ msg.message }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
              <label for="message">Message</label>
              <input type="text" id="message" class="form-control mx-sm-2" value="message" placeholder="messages !!">
              <button type="button" class="btn btn-primary sm-2" id="send">Submit</button>
            </div>
          </form>
    </div>
    <div>
        <ul id="debug">

        </ul>
    </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
    $("#send").click(
        function(e){
        
        text = $("#message").val()
        var param = {
            'name': 'miku',
            'msg' : text
        }
        
        console.log(param['name'], param['msg'])
        
        $("#msgfield").append(
            '<div class="card w-100 card-no-border">\n' +
                '<div class="card-body">\n' +
                    '<h5 class="card-title">'+ param['name'] +'</h5>\n' +
                    '<p class="card-text">' + param['msg'] + '</p>\n' +
                '</div>\n' +
            '</div>\n'
        );

        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "{{ url_for('main.test') }}",
            data: JSON.stringify(param),
            success: function(res){
                console.log(res);
            },
            error: function(res){
                console.log('failed');
            }
        });
    })
</script>
{% endblock %}
