{% extends "mybase.html" %}
{% block title %}instance{% endblock %}

{% block content -%}
        <form action="/instance_handle" method="post">
            <div id="form-input">
                <label for="inst_date">Date time</label>
                <input type="datetime" id="inst_date" name="datetime"><br>
            </div>
            <div id="form-input">
                <label for="keyword">Title</label>
                <input type="text" id="keyword" name="keyword"><br>
            </div>
            <div id="form-input">
                <label>Data type</label>
                <input type="radio" id="text" name="type" value="12">
                <label for="text">12</label>
                <input type="radio" id="image" name="type" value="6">
                <label for="image">Other</label><br>
            </div>
            <div id="form-input">
                <input type="submit" value="Submit">
            </div>
        </form>
{%- endblock content %}
