<html>
<head>
<title>upload</title>
</head>
<body>
    <form action="/upload_handle" method="post">
        <label for="keyword">Keyword</label>
        <input type="text" id="keyword" name="keyword"><br>
        
        <label for="value">Text Value</label>
        <input type="text" id="value" name="value"><br>
        <hr>
        <lable for="img_value">Image File</lable>
        <input type><br>
        <hr>
        <label>Data type</label><br>
        <input type="radio" id="text" name="type" value="1">
        <label for="text">Text</label>
        <input type="radio" id="image" name="type" value="2">
        <label for="image">Image</label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>